@model IEnumerable<INavigation>
@using TestLab.Entities;

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                TestLab
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    @foreach (INavigation item in Model)
                    {
                        if (item is NavigationGroup group && group.HasChilds)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @group.Title
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    @foreach (INavigation child in group.Childrens)
                                    {
                                        <a class="dropdown-item" href="@child.Href">@child.Title</a>
                                        //<div class="dropdown-divider"></div>
                                    }

                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@item.Href">@item.Title</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>